common --enable_bzlmod
common --show_timestamps

build:ci --announce_rc
build:ci --color=yes
build:ci --curses=no
build:ci --jobs=2
build:ci --local_resources=cpu=2
build:ci --local_resources=memory=4096
build:ci --verbose_failures

test --test_output=errors

test:ci --build_tests_only
test:ci --flaky_test_attempts=1
test:ci --test_env=BUILDKITE
test:ci --test_env=BUILDKITE_BUILD_ID
test:ci --test_env=CI
test:ci --test_env=CTX_CARGO_LOCKED=1
test:ci --test_env=CTX_LOCAL_RESOURCE_CAP=1
test:ci --test_env=HOME
test:ci --test_env=PATH
test:ci --test_env=CARGO_HOME
test:ci --test_env=RUSTUP_HOME
test:ci --test_env=TMPDIR
test:ci --test_env=CARGO_TERM_COLOR=always
test:ci --test_output=errors
test:ci --test_summary=detailed
test:ci --test_timeout=300,900,1800,3600
